<html>
    <head>
    <title>Fraud detection using Machine Learning Classification problem statement</title>
    </head>
<div class='container'>
    <form action="/predict" method="POST">
        <input type="'text" name="'Age" placeholder="Age of a person " required="required">
        <br>
        <input type="'text" name="Open credit lines" placeholder="Number of open credit" required="required">
        <br>
        <input type="'text" name="Real estate loanes" placeholder="Any real estate loanes" required="required">
        <br>
        <input type="'text" name="Income" placeholder="Monthly Income" required="required">
        <br>
        <input type="'text" name="Gender" placeholder="0 for male 1 for female" required="required">
        <br>
        <input type="'text" name="East" placeholder="East means 1 or 0" required="required">
        <br>
        <input type="'text" name="North" placeholder="North means 1 or 0" required="required">
        <br>
        <input type="'text" name="South" placeholder="South means 1 or 0" required="required">
        <br>
        <input type="'text" name="West" placeholder="West means 1 or 0" required="required">
        <br>
        <input type="'text" name="Rented" placeholder="Rented means 0 ownhouse 1 " required="required">
        <br>
        <input type="'text" name="Occupation" placeholder="Occupation values from 0 to 4" required="required">
        <br>
        <input type="'text" name="Education" placeholder="Education values from 0 to 4" required="required">
        <br>
        <button type="Submit" class="btn btn-outline-warning">Predict</button>

    </form>
    <strong>Tranzaction is a = {{value}} Analysis</strong>
</div>
</html>